@charset "UTF-8";
div.mw-ext-codehighlight pre {
  border: 0; /* resources/src/mediawiki.skinning/elements.less 보정 */
}
div.mw-ext-codehighlight pre code {
  border: 0; /* resources/src/mediawiki.skinning/elements.less 보정 */
  /* border-radius: initial; */ /* resources/src/mediawiki.skinning/elements.less 보정 */
  border-radius: 0.5em;
}
div.mw-ext-codehighlight.mw-ext-codehighlight-prismjs pre code {
  padding: initial; /* resources/src/mediawiki.skinning/elements.less 보정 */
  /*font-size: 16px;*/
}
div.mw-ext-codehighlight.mw-ext-codehighlight-highlightjs pre {
  background-color: inherit; /* resources/src/mediawiki.skinning/elements.less 보정 */
  padding: 0; /* resources/src/mediawiki.skinning/elements.less 보정 */
  /*font-size: 16px;*/
}